<header class="sticky top-0 z-10">
    <nav id="navbar" class="flex items-center h-128 px-8 py-4 backdrop-blur-md  bg-slate-400 opacity-85">

        <div class="logo-container h-18 w-24 md:w-36 mr-0 block">
            <a href="/" class="w-full h-auto">
                <img src="/img/logo.png" class="w-24 h-12" alt="logoSushiABD">
            </a>
        </div>

        <ul class="nav-list flex px-4 text-white text-base md:space-x-12">
            <li><a href="/dish"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">
                    Tra cứu món</a></li>
        </ul>

        <ul class="flex space-x-8 justify-items-end ml-auto items-center">
            <li>
                <a href="/login" class="flex items-center justify-center text-gray-500">
                    <i class="fa-solid fa-user text-3xl"></i>
                </a>
            </li>
        </ul>

    </nav>
</header>