<div class="relative mt-0 header-bg flex items-center justify-center w-full h-[600px]">
    <img src="/img/slider.jpg" class="absolute h-full w-full" alt="">
    <h1 class="absolute text-9xl font-bold text-center text-white">Home</h1>
</div>

<div>
    <div>

    </div>
</div>

