<footer class="border-t border-gray-300">
    <div class="mt-16 grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr_1fr] px-10 gap-x-3 mb-16">
        <div class="mb-8 md:mb-0">
            <img src="/img/logo.png" class="w-40 h-auto" alt="logoABD">
            <p class="mt-6">Hello from Sushi ABD!</p>
        </div>
        <div class="mb-8 md:mb-0">
            <p class="font-bold mt-7 text-lg mb-4">Contact Information</p>
            <div class="flex-col space-y-2">
                <p class="text-gray-600">📍 HCMUS </p>
                <p class="text-gray-600">📞 +123456789</p>
                <p class="text-gray-600">📧 SushiABD@gmail.com</p>
            </div>
        </div>

        <div class="mb-8 md:mb-0">
            <p class="font-bold mt-7 text-lg mb-4">Quick Links</p>
            <div class="text-gray-600 flex-col space-y-2">
                <a href="/employee" class="hover:text-blue-500 transition duration-300">
                    <p>Home</p>
                </a>
                <a href="/employee/dish" class="hover:text-blue-500 transition duration-300">
                    <p>Search Dish</p>
                </a>
                <a href="/employee/reserve/dish" class="hover:text-blue-500 transition duration-300">
                    <p>Reserve Dish</p>
                </a>
                <a href="/employee/reserve/static" class="hover:text-blue-500 transition duration-300">
                    <p>Stat</p>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-black text-white text-center p-8">
        <p class="text-sm">Copyright © All rights reserved (Website Developed & Managed by CREATIVECHROMA)</p>
    </div>
</footer>