<footer class="border-t border-gray-300">
    <div id="background-search">
        <h2 class="text-5xl text-white font-semibold text-center mb-6"> Subscribe to get special price </h2>
        <p class="text-white text-center">
            Dont wanna miss something? Subscribe right now and get special
        </p>
        <p class="text-white text-center">
            promotion and monthly newsletter
        </p>
        <div class="flex justify-center mt-20 mb-20">
            <input type="email" placeholder="Type your email here"
                class="p-3 border-none w-64 md:w-80 text-gray-800 focus:outline-none" />
            <button class="p-3 rounded-r-full bg-gray-800 text-white">Subscribe</button>
        </div>
    </div>
    <div class="mt-16 grid grid-cols-1 md:grid-cols-[2fr_1fr_1fr_1fr] px-10 gap-x-3 mb-16">
        <div class="mb-8 md:mb-0">
            <img src="/img/logo.png" class="w-40 h-auto" alt="logoTADTravels">
            <p class="mt-6">Hello from TADTravels!</p>
        </div>
        <div class="mb-8 md:mb-0">
            <p class="font-bold mt-7 text-lg mb-4">Contact Information</p>
            <div class="flex-col space-y-2">
                <p class="text-gray-600">📍 HCMUS </p>
                <p class="text-gray-600">📞 +123456789</p>
                <p class="text-gray-600">📧 TADTravels@gmail.com</p>
            </div>
        </div>

        <div class="mb-8 md:mb-0">
            <p class="font-bold mt-7 text-lg mb-4">Quick Links</p>
            <div class="text-gray-600 flex-col space-y-2">
                <a href="/" class="hover:text-blue-500 transition duration-300">
                    <p>Home</p>
                </a>
                <a href="/about" class="hover:text-blue-500 transition duration-300">
                    <p>About us</p>
                </a>
                <a href="/tours" class="hover:text-blue-500 transition duration-300">
                    <p>Tours</p>
                </a>
                <a href="/contact" class="hover:text-blue-500 transition duration-300">
                    <p>Contact</p>
                </a>
                <a href="/tips" class="hover:text-blue-500 transition duration-300">
                    <p>Tips</p>
                </a>
            </div>
        </div>

        <div class="mb-8 md:mb-0">
            <p class="font-bold mt-7 text-lg mb-4">Follow Us</p>
            <div class="flex gap-2">
                <img src="/img/facebookEmoji.png" alt="facebook Emoji" class="w-10 h-10">
                <img src="/img/youtubeEmoji.png" alt="youtube Emoji" class="w-10 h-10">
                <img src="/img/instagramEmoji.png" alt="instagram Emoji" class="w-10 h-10">
            </div>
        </div>
    </div>
    <div class="bg-black text-white text-center p-8">
        <p class="text-sm">Copyright © All rights reserved (Website Developed & Managed by CREATIVECHROMA)</p>
    </div>
</footer>