<header class="sticky top-0 z-10">
    <nav id="navbar" class="flex items-center h-128 px-8 py-4 backdrop-blur-md">

        <div class="logo-container w-24 md:w-36 mr-0 block">
            <a href="/" class="w-full h-auto">
                <img src="/img/logo.png" class="w-full h-auto" alt="logoTADTravels">
            </a>
        </div>

        <ul class="nav-list flex px-4 text-white text-base md:space-x-12">
            <li><a href="/Đặt đồ ăn"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">About
                    admin</a></li>
            <li><a href="/Đặt bàn"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tours</a>
            </li>
            <li><a href="/Tra cứu món ăn"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tours</a>
            </li>
            <li><a href="/Xem lịch sử đơn"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Tours</a>
            </li>
        </ul>

        <ul class="flex space-x-8 justify-items-end ml-auto items-center">
            <li>
                <div class="search__container">
                    <input class="search__input" autocomplete="off" id="searchInput" type="text" placeholder="Search">
                    <button class="search__button" id="searchButton"></button> <!-- Nút tìm kiếm -->
                </div>

            </li>
            <li>
                <a href="/login" class="button bg-user-icon flex items-center justify-center">
                    <span class="sr-only">User</span>
                </a>
            </li>
        </ul>

    </nav>
</header>

<script src="/js/navbar.js"></script>