<header class="sticky top-0 z-10">
    <nav id="navbar" class="flex items-center h-128 px-8 py-4 backdrop-blur-md  bg-slate-400 opacity-85">

        <div class="logo-container h-18 w-24 md:w-36 mr-0 block">
            <a href="/customer" class="w-full h-auto">
                <img src="/img/logo.png" class="w-24 h-12" alt="logoSushiABD">
            </a>
        </div>

        <ul class="nav-list flex px-4 text-white text-base md:space-x-12">
            <li><a href="/customer/dish"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">
                    Tra cứu món</a></li>
            <li><a href="/customer/reserve/dish"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">
                    Đặt đồ ăn</a></li>
            <li><a href="/customer/reserve/table"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Đặt bàn</a>
            </li>
            <li><a href="/customer/reserve/history"
                    class="transition-transform duration-200 transform hover:scale-110 hover:font-bold hover:text-green-700">Xem lịch sử đơn</a>
            </li>
        </ul>

        <ul class="flex space-x-8 justify-items-end ml-auto items-center">
            <li>
                <a href="/login" class="flex items-center justify-center text-gray-500" id="logoutButton">
                    <i class="fa-solid fa-user text-3xl"></i>
                </a>
            </li>
        </ul>

    </nav>
</header>

<script>
    // Select the logout button
    const logoutButton = document.getElementById('logoutButton');

    // Add click event listener to the logout button
    logoutButton.addEventListener('click', (event) => {
        // Prevent the default action (navigation)
        event.preventDefault();
        
        // Remove the userID from sessionStorage
        sessionStorage.removeItem('userID');

        sessionStorage.removeItem('userName');
        
        // Optionally, redirect to the login page or home page after removing userID
        window.location.href = '/login'; // or change to '/' if you want to redirect to the home page
    });
</script>